{
  "extends": [
    "airbnb"
  ],
  "parser": "babel-eslint",
  "env": {
    "browser": true
  },
  "plugins": ["compat"],
  "settings": {
    "polyfills": []
  }, 
  "rules": {
      "semi": ["error", "never"],
      "object-curly-newline": ["error", { "multiline": true }],
      "import/no-extraneous-dependencies": ["error", {"devDependencies": true}],
      "compat/compat": "error"
  }
}